<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>A Basic HTML5 Template</title>
  <meta name="description" content="A simple HTML5 Template for new projects.">
  <meta name="author" content="SitePoint">

  <meta property="og:title" content="A Basic HTML5 Template">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.sitepoint.com/a-basic-html5-template/">
  <meta property="og:description" content="A simple HTML5 Template for new projects.">
  <meta property="og:image" content="image.png">

  <link rel="icon" href="/favicon.ico">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
  <!-- your content here... -->
  <table>
      <thead>
          <th>Name</th>
          <th>Manufacturer</th>
          <th>Price</th>
          <th>Status</th>
          <th>Location</th>
          <th>Edit</th>
      </thead>
      <tbody>
        {% for item in items %}
        <tr>
        <td>{{item}}</td>
        <td>{{item.manufacturer}}</td>
        <td>{{item.purchase_price}}</td>
        <td>{{item.status.name}}</td>
        <td>{{item.location.name}}</td>
        <td>x</td>
        {% endfor %}
        </tr>
      </tbody>
  <script src="js/scripts.js"></script>
</table>
</body>
</html>