{% extends 'tracker/base.html' %}


{% block content %}
<h2>Device Inventory</h2>
<!-- <div class="input-group">
    <input type="text" id="myInput" onkeyup="activeSearch('myInput','myTable')" placeholder="Search for names.."
        title="Type in a name" />
</div> -->

  <table class="table table-bordered table-hover table-sm bg-light">
      <thead class="thead-dark">
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Manufacturer</th>
          <th scope="col">Price</th>
          <th scope="col">Status</th>
          <th scope="col">Location</th>
          <th scope="col"></th>
      </thead>
      <tbody>
        {% for item in items %}
        <tr>
        <td>{{item.id}}</td>
        <td>{{item}}</td>
        <td>{{item.manufacturer}}</td>
        <td>{{item.purchase_price}}</td>
        <td>{{item.status.name}}</td>
        <td>{{item.location.name}}</td>
        <td class = "text-center">
          <a class="btn btn-sm btn-info" href="{% url 'item-detail' item.id %}">View</a></td>
        {% endfor %}
        </tr>
      </tbody>
      </table>
      <a class="btn bg-primary btn-md btn-info float-right " href="{% url 'new_item'  %}">Add New</a>

      {% endblock %}
